@charset "utf-8";
/* CSS Document */

body{
	font-family: iceland;
	color: darkgrey;
	margin: 0px;
	background-color: #191919;
	font-weight: 300;
}

.clearfix {
  overflow: auto;
}

.page_wrapper{
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.top-banner{
	width: 100%;
	height: 240px;
	background-image: url("images/banner.jpg");
	background-position: center;
	background-size: cover 50%;
	padding-top: 40px;
}

.top-banner h1{
	font-size: 160%;
	margin-right: 200px;
	color:#FFFFFF;	
}

.nav-bar ul{
	text-align: center;
	list-style-type: none;
	padding-left: 0px;
}

.nav-bar a{
	text-decoration: none;
	color: aliceblue;
	background-color: #393939;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 5px;
	margin-top: -20px;
}

.nav-bar a:hover{
	background-color: darkred;
}

.navi a{
	text-decoration: none;
	color: orangered;
}

.navi a:hover{
	color: aliceblue;
}

.main{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.container-feature{
	margin: 2%;
}

.feature-images{
	display: block;
	width: 100%;
}

#pic1{
	background-image: url("images/logo valo.png");
}

#pic2{
	background-image: url("images/logo apex.png");
}

#pic3{
	background-image:url("images/among us logo.png");
}

#pic4{
	background-image:url("images/coming soon logo.png");
}

#pic5{
	background-image:url("images/pummelparty.png");
}

.feature-img{
	width: 150px;
	height: 150px;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

.feature-images{
	text-align: center;
}

.feature{
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

#footer{
	background-color: #292828;
	position:relative;
	height: 100%;
	margin-top: -100%;
	clear: both;
	margin-bottom: -100%;
}

@media screen and (min-width:768px){
	.nav-bar a{
		width: 25%;
		float: left;
	}
}